Third
*.user
*.MOC*
*.UI*
*.OBJ*
build-TestMemoryEditor-Desktop_Qt_5_10_0_MSVC2013_64bit-Debug
build-MemoryEditorSubdirs-Desktop_Qt_5_10_0_MSVC2013_64bit-Debug
build-MemoryManager-Desktop_Qt_5_10_0_MSVC2013_64bit-Debug
*.obj
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.stash
*.Debug
*.Release
Projects/MemoryManager/Makefile
Projects/TestMemoryEditor/Makefile
*.exe
Projects/MemoryEditorSubdirs/Makefile
build-MemoryEditor-Desktop_Qt_5_10_1_MinGW_32bit2-Debug
build-MemoryEditor-Desktop_Qt_5_10_0_MSVC2013_64bit-Debug
Projects/MemoryEditor.qbs.user.0598a8a
build-MemoryEditor-Desktop_Qt_5_10_1_MinGW_32bit2-Release
*.o
*.moi
